.component {
    width: 320px;
    background-color: rgba(256, 256, 256, .1);
    border: none;
    border-radius: 10px;
}

.component .ant-collapse-item {
    border-bottom: none;
}

.component .ant-collapse-item .ant-collapse-header {}

.component .ant-collapse-item .ant-collapse-content {
    border: none;
    background-color: rgba(256, 256, 256, .1)
}

.component .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.component .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .ant-btn {
    width: 80px;
    margin-bottom: 16px;
}